@model IEnumerable<FoodCleanB.Models.UserCartItemModel>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<div class="pt-3 pb-3">
    <h2 class="text-center font-weight-bold">Giỏ hàng</h2>

    @if (!Model.Any())
    {
        <h3 class="text-center">
            Chưa có sản phẩm trong giỏ hàng của bạn.
        </h3>
    }
    else
    {
        <div class="total">
            Số lượng: @Model.Count()
        </div>

        <table class="table">
            <tr>
                <th>
                </th>
                <th>
                    Ten Hang
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GiaThanh)
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.MaNhaCungCap)
                    </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Detail", "SanPham", new { ItemId = item.ItemId })" title="Xem"><img src="@item.AnhSanPham" alt="@item.TenHang" /></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Detail", "SanPham", new { ItemId = item.ItemId })" title="Xem">@item.TenHang</a>
                    </td>
                    <td>
                        @item.SoLuong
                    </td>
                    <td>
                        @item.GiaThanh ₫
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.MaNhaCungCap)
                        </td>*@
                    <td>
                        @Html.ActionLink("Xóa", "Delete", new { ItemId = item.ItemId })
                    </td>
                </tr>
            }
        </table>
    }
</div>