@model IEnumerable<FoodCleanB.Models.UserCartItemModel>

@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<div class="pt-3 pb-3">
    <h2 class="text-center font-weight-bold">Giỏ hàng</h2>
    @if (TempData["Message"] != null)
    {
        <h3 class="text-center font-weight-bold">@TempData["Message"]</h3>
    }

    @if (!Model.Any())
    {
        <h3 class="text-center">
            Chưa có sản phẩm trong giỏ hàng của bạn.
        </h3>
    }
    else
    {
        <div class="total">
            Số lượng: @Model.Sum(o => o.SoLuong)
        </div>

        <table class="table">
            <tr>
                <th>
                </th>
                <th>
                    Ten Hang
                </th>
                <th style="text-align: right">
                    @Html.DisplayNameFor(model => model.SoLuong)
                </th>
                <th style="text-align: right">
                    @Html.DisplayNameFor(model => model.GiaThanh)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a class="image-box" href="@Url.Action("Detail", "SanPham", new {ItemId = item.ItemId, Title = item.TenHang})" title="Xem">
                            <img src="@item.AnhSanPham" alt="@item.TenHang" style="max-width: 150px; height: auto;" />
                        </a>
                    </td>
                    <td>
                        <a href="@Url.Action("Detail", "SanPham", new { ItemId = item.ItemId, Title = item.TenHang })" title="Xem">@item.TenHang</a>
                    </td>
                    <td style="text-align: right">
                        @item.SoLuong
                    </td>
                    <td style="text-align: right">
                        @item.GiaThanh.ToString("##.###") ₫
                    </td>
                    <td>
                        
                        <a class="btn-delete" href="@Url.Action("Delete","Order", new {id = item.ItemId})">Xóa sản phẩm</a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td style="text-align: right"><b>Thành tiền:</b></td>
                <td style="text-align: right">@Model.Sum(o => o.GiaThanh * o.SoLuong).ToString("##.###") đ</td>
                <td></td>
            </tr>
        </table>

        using (Html.BeginForm("DatHang", "Order", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row align-content-end">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary" type="submit">Đặt hàng</button>
                </div>
            </div>
        }
    }
</div>
<script>
    $('.btn-delete').on('click', function (event) {
        event.preventDefault();
        var x = confirm("Bạn có muốn xóa sản phẩm này không?");
        if (x) {
            window.location.href = $(this).attr('href');
        }
        
        
    })
</script>