@model IEnumerable<FoodCleanB.Database.NhaCungCap>

@{
    ViewBag.Title = "Admin - Nha Cung Cap";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<h2>Nha Cung Cap</h2>

<p>
    @Html.ActionLink("Thêm", "ThemNhaCungCap")
</p>

@if (TempData["Message"] != null)
{
    <h3 class="text-center font-weight-bold">@TempData["Message"]</h3>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sdt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sdt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
    </tr>
}

</table>
