@model IEnumerable<FoodCleanB.Database.SanPham>

@{
    ViewBag.Title = "Admin - Sản phẩm";
    Layout = "~/Views/Shared/LayoutShare.cshtml";
}

<h2>SanPham</h2>


    @Html.ActionLink("Thêm mới", "ThemSanPham",null, new { @type="button",@class="btn btn-info"})


@if (TempData["Message"] != null)
{
    <h3 class="text-center font-weight-bold">@TempData["Message"]</h3>
}

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GiaThanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuong)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.KhoiLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhuyenMai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnhSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhaCungCap.Ten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhomHang.Ten)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span>@item.MaHang</span> <br />
                <a href=" @Url.Action("Detail", "SanPham", new { ItemId = item.MaHang, Title = item.TenHang.Replace(" ", "-") })">Xem hàng</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @item.GiaThanh.ToString("##,###") đ
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @if (item.KhoiLuong != null)
                {
                    item.KhoiLuong = item.KhoiLuong * 1000;
                    @Html.Raw(item.KhoiLuong + "g")
                }
                

            </td>
           
            <td>
                @(item.KhuyenMai != null ? item.KhuyenMai.GetValueOrDefault().ToString("##,###") : "0") đ
            </td>
            <td>
                <img src="@item.AnhSanPham" alt="ảnh" style="max-width: 150px; height: auto;" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhaCungCap.Ten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhomHang.Ten)
            </td>
            <td>
                <a type="button" class="btn btn-warning" href="@Url.Action("EditSanPham", "Admin", new { MaHang = item.MaHang })" target="_blank">Sửa</a>
                @Html.ActionLink("Xóa", "DeleteSanPham", new { MaHang = item.MaHang }, new {@class = "btn btn-danger", @type = "button" })
            </td>
        </tr>
    }
</table>